@import '../../assets/base/global.scss';

.productTableWrapper {
  h3 {
    color: $primary-color;
    font-weight: 500;
    font-family: "ubuntubold", sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    @include underline-text;
  }
  .tableStyles {
    background-color: $white;
    .textStyle {
      table {
        background-color: #fff;
        border-radius: 8px;
        border: none;
      }
      th, td {
        color: $table-text-color;
        font-family: "ubunturegular", sans-serif;
        @media only screen and (min-width:768px) and (max-width:991px) {
          font-size: 14px;
        }
        @media only screen and (min-width:481px) and (max-width:767px) {
          font-size: 14px;
        }
        @media only screen and (max-width:480px) {
          font-size: 12px;
        }
      }
    }
  }
}
